header{
    text-align: center;
    background-color: blue;
    height: 80px;
    align-items: center;
}

header h1{
    color: white;
}

#left-column{
    margin: 10px;
    
}

.city-form{
    border: 2px solid blue;
}

#add-city{
    width: 100%;
}

