header{
    text-align: center;
    background-color: blue;
    height: 80px;
    align-items: center;
}

.container{
    width: 100%;
}

header h1{
    color: white;
}

#left-column{
    border: 2px solid red;
    
}

#top-right{
    border: 2px solid blue;
}

#add-city{
    width: 100%;
}

