header{
    text-align: center;
    background-color: blue;
    height: 80px;
    align-items: center;
}

.container{
    width: 100%;
}

header h1{
    color: white;
}

#left-column{
    padding-bottom: 20px;
    height: 200px;
    margin-right: 5px;
}

#top-right{
    border: 1px solid black;
    padding-left: 15px;
}

.container{
    padding-top: 15px;

}

#add-city{
    width: 100%;
}

#cities{
    border-bottom: 2px solid black;
}

#cities button{
    margin-bottom: 20px;
}

.uv-index-low{
    background-color: green;
    color: white;
}

.uv-index-medium{
    background-color: yellow;
}

.uv-index-high{
    background-color: red;
    color: white;
}

#searchRes button{
   margin-bottom: 10px;
   text-transform: capitalize;
   border: none;
   background-color: gainsboro;
}

button{
    width: 100%;
}

#forecast{
    border: 2px solid pink;
    display: flex;
    flex-direction: row;
}

